{{!-- ESPACIO CREDENCIALES --}}

<div id="loginContainer">
    <p><b>¡Bienvenido {{user.first_name}} {{user.last_name}}!</b></p>
    <p>Cart: {{user.cart._id}}</p>
</div><br>

{{#Equals user.role "admin"}}
<div id="adminContainer">
    <b>
        <p>CONTENEDOR SECRETO DE ADMIN</p>
    </b>
    <p>Nota: Solo ves este contenedor si iniciaste sesión con credenciales de Admin.</p>
</div><br>
{{/Equals}}

{{!-- CÓDIGO --}}

<div id="titleContainer">
    <h1>PRODUCTS</h1>
    <p>HELLO FROM PRODUCTS.HBS</p>
</div><br>

<div id="productsContainer">
    <div if="filters">
        <a
            href="/products?limit={{limit}}&sort=asc{{#if status}}&status={{status}}{{/if}}{{#if category}}&category={{category}}{{/if}}&page=1"><button>Ordenar
                por Precio (Menor a Mayor)</button></a>
        <a
            href="/products?limit={{limit}}&sort=desc{{#if status}}&status={{status}}{{/if}}{{#if category}}&category={{category}}{{/if}}&page=1"><button>Ordenar
                por Precio (Mayor a Menor)</button></a><br><br>
        <a
            href="/products?limit={{limit}}{{#if sort}}&sort={{sort}}{{/if}}&status=1{{#if category}}&category={{category}}{{/if}}&page=1"><button>Status
                "True"</button></a>
        <a
            href="/products?limit={{limit}}{{#if sort}}&sort={{sort}}{{/if}}&status=0{{#if category}}&category={{category}}{{/if}}&page=1"><button>Status
                "False"</button></a><br><br>
        <select required id="categoria">
            <option value="cat01">cat01</option>
            <option value="cat02">cat02</option>
        </select>
        <button
            onclick='location.href="/products?limit={{limit}}{{#if sort}}&sort={{sort}}{{/if}}{{#if status}}&status={{status}}{{/if}}&category=" + document.getElementById("categoria").value + "&page=1"'>Filtrar
            por Categoría</button>
    </div><br>

    <div id="productsList">
        {{#each products.docs}}
        <div class="product">
            <h2><strong>{{this.title}}</strong></h2>
            <ul>
                {{!-- <li>Product ID (file): {{this.pid}}</li> --}}
                <li>Product ID: {{this._id}}</li>
                <li>Code: {{this.code}}</li>
                <li>Price: ${{this.price}}</li>
                <li>Stock: {{this.stock}}</li>
                <li>Category: {{this.category}}</li>
            </ul>
            <div id="actions">
                <a href="/products/{{this._id}}"><button class="action1">Ver Producto</button></a>
                <button class="action2" onclick="addProduct('{{this._id}}', '{{this.title}}')">Agregar a Carrito</button>
            </div><br>
        </div>
        {{/each}}
    </div>
</div>

<div>
    {{!-- CONDICIONAL SI HAY PÁGINA ANTERIOR --}}
    {{#if products.hasPrevPage}}
    <a id="prevURL"
        href="/products?limit={{limit}}{{#if sort}}&sort={{sort}}{{/if}}{{#if status}}&status={{status}}{{/if}}{{#if category}}&category={{category}}{{/if}}&page={{products.prevPage}}">Anterior</a>

    {{/if}}

    {{!-- CONTADOR DE PÁGINA --}}
    <span>Página {{products.page}} de {{products.totalPages}}</span>

    {{!-- CONDICIONAL SI HAY PÁGINA POSTERIOR --}}
    {{#if products.hasNextPage}}
    <a id="nextURL"
        href="/products?limit={{limit}}{{#if sort}}&sort={{sort}}{{/if}}{{#if status}}&status={{status}}{{/if}}{{#if category}}&category={{category}}{{/if}}&page={{products.nextPage}}">Siguiente</a>
    {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    async function addProduct(pid, title) {
        try {
            const cid = '{{user.cart._id}}';
            const duration = 1500;
            const response = await fetch(`/api/carts/${cid}/product/${pid}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({"productQuantity": 1}),
            });
            if (response.ok) {
                // Notificar exito.
                Swal.fire({
                    title: `Se ha agregado 1 unidad de "${title}" al carrito.`,
                    toast: true,
                    position: "top-end",
                    timer: duration,
                    timerProgressBar: true
                });
                // Recargar página.
                setTimeout(() => {
                    location.reload();
                }, duration);
            } else {
                // Notificar fallo.
                Swal.fire({
                    title: `No es posible agregar unidades al carrrito.`,
                    toast: true,
                    position: "top-end",
                    timer: duration,
                    timerProgressBar: true
                });
            }
        } catch (error) {
            console.error('Error en la solicitud POST:', error);
        }
    }
</script>